* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

 :root {
    --cor-principal: #FFFFFF;
    --cor-secundaria: #C0C0C0;
    --cor-botao: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte--principal: 'Inter', sans-serif;
    --cor--efeito--botao: #3C92FA;
 }

body {
    background-color: var(--cor-de-fundo);
    color: var(--cor-principal);
    font-family: var(--fonte--principal);
    font-weight: 400;
}

.principal {
    background-image: url("./Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__botao {
    background-color: var(--cor-botao);
    border-radius: 5px;
    padding: 1em;
    color: var(--cor-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em ; /*bottom (embaixo)*/
}

.container__botao:hover{
    background-color: var(--cor--efeito--botao);
    color: var(--cor-de-fundo);
}

.botao__secundario {
    background-color: transparent;
    border: 2px solid var(--cor-principal) 
}

.container__aviso {
    font-size: 12px;
    color: var(--cor-secundaria);
}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem{
    width: 80%;
}
.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--cor-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cor-secundaria);
}

.container__descricao {
    padding: 2em;
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.dispositivos_lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
} 

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--cor-principal);
}

.lista__item{
    font-size: 32px;
    color: var(--cor-principal);
}

.rodape__logo {
    display: block;
    margin: 2em auto;
}

.rodape {
    margin: 7em 0 5em 0;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    gap: 1em;
    list-style-type: none;
    margin: 0 0 2em 0;
    font-size: 16px;
}

.lista__link a {
    text-decoration: none;
    color: var(--cor-principal);
}

.lista__link a:hover {
    color: var(--cor-botao);
}

.rodape__texto {
    text-align: center;
    margin: 2em;
    color: var(--cor-secundaria);
    font-size: 14px;
}